<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Advanced Validation Example</title>
  </head>
  <body>
    <h1>Enter a Valide (Any) Email!</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages%}
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form class="" action="/process" method="post">
      Email: <input type="text" name="email" value="">
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
